{% extends "layout.html" %}

{% block title %}
    <h1>Home Page !</h1>
{% endblock %}

{% block content %}

<section id ="lastOffers">
<h2> Latest Offers ({{offers.offers|length }}) : </h2>
    <ul>
            {% for offer in offers.offers %}
                        

            <li style="border:1px solid black; list-style-type:none; width : 300px; height : 220px; float : left; margin : 5px; padding:5px;">
                Débug : {{ offer.offerId }}
                <h3>{{ offer.projectTitle }}</h3>
                <p>Domaine d'activité : {{ offer.fieldActivity }} </p>
                <p>Lieu : {{ offer.place }} </p>
                <h3>{{ offer.offerTitle }}</h3>
                <p>
                    Type de profil : {{ offer.wantedProfiles }} 
                </p>
            </li>

            {% endfor %}
        </ul>

</section>

{% endblock %}
