<!doctype>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Job offer for artists">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ArtSpeaker</title>

    <!-- scripts -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js'></script>

    <!-- style sheets -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">


</head>

<body>
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <li><a class="navbar-brand" href="index.html"> <img src="{{ url_for('static', filename='img/logo.png') }}" class="img-responsive" alt="ArtSpeaker"> </a></li>
            </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#"><i class="glyphicon glyphicon-user"></i> My account</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
            <form class="navbar-form navbar-right" role="search">
                <div class="form">
                    <div class="inner-addon left-addon">
                        <i class="glyphicon glyphicon-search"></i>
                        <input type="search" class="form-control" placeholder="Search"></code>
                    </div>
                 </div>
            </form>
        </li>
        <li>
            <button type="submit" class="btn btn-default">Ok</button>
        </li>
        {% if user %}
        <li><button type="button" class="btn btn-primary navbar-btn"><a href="/logout">Sign Out</a></button></li>
        {% else %}
        <li><button type="button" class="btn btn-primary navbar-btn"><a href="/login">Log in</a></button></li>
        {% endif %}
        </li>
      </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>

<!--
        {% block title %}{% endblock %}
<section>
            {% if user %}
                    <img style="width:100px;"src="{{user.picture}}" />
                    <p>> {{user.name}}</p>
                {% if user.gender %}
                    {% set gender = user.gender %}
                {% else %}
                    {% set gender = "N/A" %}
                {% endif %}
                    <p>gender : {{gender}}</p>
                    <ul>
                        <li><a href='/user/{{ user.id }}/offers'>manage Offers</a></li>
                        <li><a href='/portfolio'>manage Portfolio</a></li>
                    </ul>
                    <a href="/logout">Logout</a>
            {% else %}
                    <p>
                        <a class="signedIn" href="/login">Login</a>
                    </p>
                </li>
            {% endif %}
</section>
--> 


<section>
    {% block content %}{% endblock %}
</section>

</body>
</html>
