{% extends "layout.html" %}
			{% block content %}
			<div class="container">	
				<div class="row">

					<div class="content-box">

		  					<div class="page-header">
  							<h1>Log In <small> with your favorite network</small></h1>
							</div>

		  						<button type="button" class="btn btn-facebook btn-md" onclick="window.location.href='/'"> 
		  							<span class="fa fa-facebook"></span> Continue with Facebook
		  						</button> 
							
			  					<button type="button" class="btn btn-googleplus btn-md" onclick="window.location.href='/login/google'"> 
			  						<span class="fa fa-google-plus"> </span> Continue with Google
			  					</button> 
							

		  					<div class="page-header">
  							<h1>Log In <small> with your username</small></h1>
							</div>

						<div class="input-group">
						  <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-user"></i></span>
						  <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
						</div>
						<br>
						<div class="input-group">
						  <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-asterisk"></i></span>
						  <input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
						</div>
						<br>
						<button type="button" class="btn btn-primary btn-md">Submit</button>
					</div> 
		 			

		 		</div>
			</div>
			{% endblock %}
