{% extends "layout.html" %}


{% block title %}
    <h1>My Offers</h1>
{% endblock %}

{% block content %}

{% if user %}
    <div>
        <h2> <a href="/offer"> Create an Offer !</a></h2>

        <h2> Offers ({{offers.offers|length }}) :</h2>
        {% if offers.offers|length > 0 %}
        <ul>
            {% for offer in offers.offers %}
                {% set profileType=offer.wantedProfiles %}
            <li>
                <h3>{{ offer.title }}</h3>
                <p>
                    Type de profil : 
                    {% for profile in profileType %}
                    {{ profile }} | 
                    {% endfor %}
                </p>
                <p>Rémunération : {{ offer.remuneration }}</p>
                <p>Date de début : {{ offer.offerDate["begin"] }}</p>
                <p>Date de fin : {{ offer.offerDate["end"] }}</p>
                <p>Lieu : {{ offer.place }}</p>
                <p>Liens :<br/>
                    {% for network in offer.networking %}
                    {{ network["network"] }} <a href={{ network }}> {{ network["url"] }}<a/><br/>
                    {% endfor %}
                </p>

            </li>

            <button id="deleteOffer" data-offerId="{{ offer.offerId }}" value="Delete">Delete</button>
            {% if offer.complete %}
            <button id="editOffer" data-offerId="{{ offer.offerId }}" value="Delete">Edit</button>
            {% else %}
            <button id="completeOffer" data-offerId="{{ offer.offerId }}" value="Delete">Complete</button>
            {% endif %}
            <hr />
            {% endfor %}
        </ul>
        {% endif %}

    </div>
{% else %}
<p> You must be logged to see this page ! </p>
{% endif %}
<script src="{{ url_for('static', filename='js/offerScripts.js') }}"></script>

{% endblock %}

