{% extends "layout.html" %}

{% block title %}
        {% if step %}
        <img src="http://lorempixel.com/900/200/abstract"></img>
        {% else %}
        <h1>Create a very cool job offer !</h1>
        {% endif %}

{% endblock %}

{% block content %}

{% if user %}
  <script>
  $(function() {
    $( ".datepicker" ).datepicker();
  });
  </script>
<style>
input {
    
}
</style>

<a href="/user/{{user.id}}/offers">Retourner aux offres </a>

    <section>
        {% if step %}

<p> > user : {{ user.name }}</p>

        <form id='offerStepTwo'>
            <fieldset>


            <p> > Secteur d'activité : </p>
            <input style='width:800px;' type='text' id="activity" placeholder="graphisme"/>

            <p>Offre disponible du
                <input type="text" id="begin" class="datepicker" value="{{ offer.offerDate['begin'] }}">
                au :
                <input type="text" id="end" class="datepicker" value="{{ offer.offerDate['end']}}">.</p>

            <h3> {{ offer.title }} </h3>

                <p>Domaines d'activité recherchés :</p>
                    <input style='width:800px;' type='text' id="activity" placeholder="graphisme" />

                <p>Tags de l'annonce : </p>
                    <input style='width:800px;' type='text' id="activity" placeholder="#illustration" />

                <p>Profils recherchés :</p>
                <input type="text" id="wantedProfiles" placeholder="separate,words,with,coma">


                <p>Votre message :<br/>
                <textarea style='width:800px; height:500px' type="text" id="text" placeholder="here is you announce"></textarea>
                </p>  

                <p>Rémunération :
                <select id="devise" size="1">
                    <option value="Dollards" >$</option>
                    <option value="Euros" selected="selected">€</option>
                    <option value="Livres">£</option>
                </select>
                <input type="text" id="remuneration" placeholder="ex: $3000">

                </p>

                <input type='submit' id="createOffer" value= "Submit !" data-userID="{{user.id}}">
            </fieldset>
        </form>

        {% else %}
        <form id='offerStepOne'>
            <fieldset>
                <p>Titre du projet :
                <input style='width:800px;' type='text' id="projectTitle" placeholder="Title" /></p>

                <p>Lieu d'activité :
                <input style='width:800px;' type='text' id="place" placeholder="ex: Paris, 75" />
                

                <div id="networks">
                    <p> Réseaux <span class="addField" style="cursor:pointer; color:green; font-size:20px; font-weight:bold;">+</span></p>
                    
                    <div>
                        <select id="social" size="1">
                            <option value="website" selected="selected">website</option>
                            <option value="Facebook">Facebook</option>
                            <option value="Twitter">Twitter</option>
                            <option value="Other">Custom link</option>
                          </select>
                        <input style='width:800px;' type='text' class="link" placeholder="www.monsite.com" />
                    </div>
                </div>

                <p>L'annonce sera visible du :
                <input type="text" id="begin" class="datepicker">
                au :
                <input type="text" id="end" class="datepicker">
                </p>

                <p>Contact :
                <input type="text" id="name" placeholder={{user.name}}>
                <input type="text" id="phone" placeholder="numero de tél.">
                <input type="text" id="mail" placeholder="addresse mail">
                </p>

                <input type='submit' id="createOffer" value= "Next Step !" data-userID="{{user.id}}">
            </fieldset>
        </form>
        {% endif %}
    </section>

<script src="{{ url_for('static', filename='js/offerScripts.js') }}"></script>

{% else %}
<p>you must be logged to see this page.</p>
<a href="/"> back home </a>
{% endif %}

{% endblock %}
