{% extends "layout.html" %}


{% block title %}
    <h1>Create your Portfolio</h1>
{% endblock %}

{% block content %}

{% if user %}
    <div>
    <section>
        <form id='portfolioCreation'>
            <fieldset>
                <p>Pseudonyme
                <input style='width:800px;' type='text' id="pseudonyme" placeholder="ex:SmartSquirel">

                <p>Lieu d'activité
                <input style='width:800px;' type='text' id="place" placeholder="ex: Paris, 75015">
                
                <p>Domaine d'activité
                <input style='width:800px;' type='text' id="fieldActivity" placeholder="ex: Graphiste 2D">

                <div id="networks">
                    <p> Réseaux <span class="addField" style="cursor:pointer; color:green; font-size:20px; font-weight:bold;">+</span></p>
                    
                    <div>
                        <select id="social" size="1">
                            <option value="website" selected="selected">website</option>
                            <option value="Facebook">Facebook</option>
                            <option value="Twitter">Twitter</option>
                            <option value="Other">Custom link</option>
                          </select>
                        <input style='width:800px;' type='text' class="link" placeholder="www.monsite.com" />
                    </div>
                </div>

                <p id="availability">Disponibilités
                    <input type="text" id="begin" class="datepicker">
                    au 
                    <input type="text" id="end" class="datepicker">
                    <input type="checkbox" id="checkbox_always" value="Toujours"> Toujours 
                </p>

            <p>Contact :
                <input type="text" id="name" placeholder="yourName" value="{{user.name}}">
                <input type="text" id="phone" placeholder="numero de tél.">
                <input type="text" id="mail" placeholder="addresse mail">
            </p>

                <input type='submit' id="createPortfolio" value= "Create my portfolio !" data-userID="{{user.id}}">
            </fieldset>

            

        </form>
    </div>
{% else %}
<p> You must be logged to see this page ! </p>
{% endif %}
{% endblock %}

