{% extends "layout.html" %}


{% block title %}
    <h1>Create your Portfolio</h1>
{% endblock %}

{% block content %}

{% if user %}

    <section>
        <div class="container"> 
            <div class="row">
                <div class="content-box">

        <form id='portfolioCreation'>
            <fieldset>
                <p>
                <h4>Your Pseudo</h4>
                <input style='width:800px;' type='text' id="pseudonyme" placeholder="ex:SmartSquirel">
                </p>
                <p>
                <h4>Location</h4>
                <input style='width:800px;' type='text' id="place" placeholder="ex: Paris, 75015">
                 <div class="small"><small>Indicate your location, it is important for your future partners.</small></div>
                </p>

                <p>
                    <h4>Field of activity</h4>
                <input style='width:800px;' type='text' id="fieldActivity" placeholder="ex: Graphiste 2D">
                <div class="small"><small>The field of your project must have a clear name.</small></div>
                            <br>
                </p>

                <div id="networks">
                    <p><h4>Social network</h4></p>
                    <span class="addField" style="cursor:pointer; color:green; font-size:20px; font-weight:bold;">+</span>
                    
                    <div style='width:800px;'>
                        <select id="social" size="1" style='width:100px;'>
                            <option value="website" selected="selected">website</option>
                            <option value="Facebook">Facebook</option>
                            <option value="Twitter">Twitter</option>
                            <option value="Other">Custom link</option>
                          </select>
                        <input style='width:695px;' type='text' class="link" placeholder="www.monsite.com" />
                    </div>
                </div>
                <div class="small"><small>Organize your social medias links and your references for being more interesting.</small></div>
                <br />
                <p>
                    <h4> Availabilities</h4> 
                    <div class="input-group" style="width : 300px; float:left"> 
                        <span class="input-group-addon" id="basic-addon7"><i class="glyphicon glyphicon-calendar"></i></span>
                        <input class="form-control" type="text" id="begin" placeholder="jj/mm/aa"/>
                    </div>
                      <h4 style="float:left; margin-right:20px; margin-left:20px">to</h4>
                    <div class="input-group" style="width : 300px;"> 
                        <span class="input-group-addon" id="basic-addon7"><i class="glyphicon glyphicon-calendar"></i></span>
                        <input class="form-control" type="text" id="end" placeholder="jj/mm/aa"/>
                    </div>
                    
                    <div class="small" >
                        <small style="float:left; clear:both;">Indicates your availabilities</small>
                    </div>
                </p>
                <br />

            <p>
                <h4>Contact</h4>
                <input type="text" id="name" placeholder="yourName" value="{{user.name}}">
                <input type="text" id="phone" placeholder="numero de tél.">
                <input type="text" id="mail" placeholder="addresse mail">
                                            <div class="small"><small>These information are essential for being contacted properly.</small></div>
            </p>

                <input type='submit' id="createPortfolio" value= "Create my portfolio !" data-userID="{{user.id}}">
            </fieldset>

            

        </form>
        </div>
        </div>
        </div>
    </section>

{% else %}
<p> You must be logged to see this page ! </p>
{% endif %}
{% endblock %}

